/* -------------------------------------------------------------------------- */
/*                                 Main Start                                 */
/* -------------------------------------------------------------------------- */
.main {
  position: relative;
  width: 1050px;
  margin: 0px auto;
}

.products {
  position: relative;
  padding: 40px 0;
}

.main__title {
  margin-bottom: 40px;
  text-align: center;
}

.main__title p {
  color: var(--content);
  font-size: 28px;
  line-height: 1.15;
  letter-spacing: -0.26px;
  font-weight: 500;
}

.mainTitle span {
  font-weight: 700;
  font-size: 28.43px;
  color: var(--content);
}

.noodle {
  height: 320px;
  position: relative;
  overflow: hidden;
}

.noodle img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.cart-button {
  background: url('../../assets/mainImg/cart.png') no-repeat;
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: absolute;
  bottom: 17px;
  right: 17px;
}

.price {
  width: 239px;
  height: 80px;
  padding: 14px 10px 0 0;
}

.price h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--content);
  margin-bottom: 8px;
  margin-top: 0px;
}

.price span {
  width: 84px;
  height: 32px;
  font-weight: 600;
  font-size: 21.328px;
  line-height: 150%;
  color: var(--content);
}

.price .discount {
  font-weight: 600;
  font-size: 21.328px;
  line-height: 150%;
  color: var(--accent-yellow);
  margin-right: 7px;
}

.price .cost {
  font-weight: 400;
  font-size: 12.003px;
  line-height: 160%;
  color: var(--gray-400);
  text-decoration: line-through;
}

.nextbtn,
.nextbtn2 {
  background: url('../../assets/mainImg/nextbtn.png') no-repeat;
  border: none;
  width: 55px;
  height: 55px;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 27px);
  right: -24.5px;
  z-index: 10;
}

.line-banner {
  padding: 40px 0px;
}

#prevbtn,
#prevbtn2 {
  background: url('../../assets/mainImg/nextbtn.png') no-repeat;
  width: 55px;
  height: 55px;
  transform: rotate(180deg);
  transform: translateX();
  cursor: pointer;
  position: absolute;
  top: calc(50% - 27px);
  left: -24.5px;
  z-index: 10;
}

#prevbtn::after,
#prevbtn2::after {
  display: none;
}

.swiper1,
.swiper2 {
  overflow: hidden;
  height: 425px;
}
